<% if microposts.any? %>
  <ul class="list-unstyled">
    <% microposts.each do |micropost| %>
      <li class="mb-3 d-flex">
        <img class="rounded me-2" src="<%= gravatar_url(micropost.user, { size:64 }) %>" alt=""> 
        <div>
          <div>
           <%= link_to micropost.user.name, user_path(micropost.user), class: "text-decoration-none" %><span class="text-muted">posted at <%- micropost.created_at %></span>
          </div>
          <div>
            <%= micropost.content %>
          </div>
            <% if current_user == micropost.user %>
                <div class="d-flex flex-row">
                <div><%= link_to "Delete", micropost, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %></div>
                <div><%= render 'favorites/favorite_button', micropost: micropost %></div>
                </div>
            <% else %>
                <%= render 'favorites/favorite_button', micropost: micropost %>
            <% end %>
        </div>
      </li>
    <% end %>
  </ul>
  <%== pagy_bootstrap_nav(@pagy) %>
<% end %>